.focus-ring:focus,
button:focus,
input:focus,
a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 2px solid white;
  box-shadow: 0px 0px 5px 5px #1f49cf;
}

/* Remove the focus indicator on mouse-focus for browsers
   that do support :focus-visible */
/* @supports selector(:focus-visible) {
  .focus-ring:focus,
button:focus,
input:focus,
a:focus {
    outline: none;
    background: transparent;
  }
} */

.focus-ring:focus,
button:focus,
input:focus,
a:focus {
  outline: none;
  box-shadow: unset;
}

.focus-ring:focus-visible,
button:focus-visible,
input:focus-visible,
a:focus-visible {
  /* Draw a noticeable focus ring for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px solid white;
  box-shadow: 0px 0px 5px 5px #1f49cf;
}

input[type="text"]:focus-visible {
  outline: none;
  box-shadow: unset;
  border-bottom: 1px solid #1f49cf;
  background: #eeeff2;
}
